.elementos{
    outline: 2px solid black;
    width: 90%;
    max-width: 600px;
    height: 600px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas: 
    "elemento1 elemento2 elemento2"
    "elemento1 elemento2 elemento2"
    "elemento1 elemento2 elemento2"
    "elemento1 elemento2 elemento2"
    ;
}

.element{
    font-size: 2rem;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.elemento1{
    background-color: red;
    grid-area: elemento1;
}

.elemento2{
    background-color: blueviolet;
    grid-area: elemento2;
}

.bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

.book {
    width: 200px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

.book img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
  }

.book h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #000;
  }

.book p {
    font-size: 14px;
    color: #666;
}
